.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.login-page .login-illustration-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.login-page .login-form-section {
  background: var(--primary-90);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.login-page .login-card {
  width: calc(100% - 2rem);
  max-width: 27rem;
  margin-inline: 1rem;
  box-shadow: var(--elevate-2);
}

.login-page .login-card .brand-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 2rem;
  margin-block-end: 3rem;
  justify-content: center;
}

.login-page .login-card .brand-img img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-block-end: 1rem;
}

.login-page .login-error-message {
  margin-block-end: 1rem;
}