:root {
    --md-sys-color-primary: rgb(144 74 68);
    --md-sys-color-surface-tint: rgb(144 74 68);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 218 214);
    --md-sys-color-on-primary-container: rgb(115 51 46);
    --md-sys-color-secondary: rgb(119 86 83);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 218 214);
    --md-sys-color-on-secondary-container: rgb(93 63 60);
    --md-sys-color-tertiary: rgb(113 91 46);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(254 223 166);
    --md-sys-color-on-tertiary-container: rgb(88 68 25);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 247);
    --md-sys-color-on-background: rgb(35 25 24);
    --md-sys-color-surface: rgb(255 248 247);
    --md-sys-color-on-surface: rgb(35 25 24);
    --md-sys-color-surface-variant: rgb(245 221 219);
    --md-sys-color-on-surface-variant: rgb(83 67 65);
    --md-sys-color-outline: rgb(133 115 113);
    --md-sys-color-outline-variant: rgb(216 194 191);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(57 46 45);
    --md-sys-color-inverse-on-surface: rgb(255 237 234);
    --md-sys-color-inverse-primary: rgb(255 180 172);
    --md-sys-color-primary-fixed: rgb(255 218 214);
    --md-sys-color-on-primary-fixed: rgb(59 9 7);
    --md-sys-color-primary-fixed-dim: rgb(255 180 172);
    --md-sys-color-on-primary-fixed-variant: rgb(115 51 46);
    --md-sys-color-secondary-fixed: rgb(255 218 214);
    --md-sys-color-on-secondary-fixed: rgb(44 21 19);
    --md-sys-color-secondary-fixed-dim: rgb(231 189 184);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 63 60);
    --md-sys-color-tertiary-fixed: rgb(254 223 166);
    --md-sys-color-on-tertiary-fixed: rgb(38 25 0);
    --md-sys-color-tertiary-fixed-dim: rgb(224 195 140);
    --md-sys-color-on-tertiary-fixed-variant: rgb(88 68 25);
    --md-sys-color-surface-dim: rgb(232 214 212);
    --md-sys-color-surface-bright: rgb(255 248 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 239);
    --md-sys-color-surface-container: rgb(252 234 231);
    --md-sys-color-surface-container-high: rgb(246 228 226);
    --md-sys-color-surface-container-highest: rgb(241 222 220);

}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    font-family: 'Noto Sans', sans-serif;
}