.default-sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    inset-inline-start: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #475569 #1e293b;
}

.sidebar-header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 1rem;
    margin-bottom: 1rem;
    background: rgb(255 255 255 / 10%);
}


.sidebar-header .sidebar-header-logo {
    width: 120px;
    height: 120px;
    object-fit: fill;
    transition: all 0.3s ease;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.ant-layout-sider-collapsed .sidebar-header .sidebar-header-logo {
    width: 48px;
    height: 48px;

}

.sidebar-header .sidebar-header-title {
    margin: 0;
    color: #fff;
}


.default-sidebar .sider-button-spacing:before {
    content: "";
    display: block;
    flex: 1;
}

.default-sidebar .sider-button {
    padding: 1rem 1rem 4rem 1rem;
    width: 100%;
}

.default-app-sidebar-layout {
}

.default-app-sidebar-layout-header {
    display: flex;
    background: #002140;
    color: #fff;
}

.default-app-sidebar-layout-header .left-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.default-app-sidebar-layout-header .page-title {
    margin: 0;
    color: #fff;
}

.default-app-sidebar-layout-header .right-section {
    display: flex;
    align-items: center;
}


.default-app-sidebar-layout-header .user-menu {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: 0 1rem;
}

.default-app-sidebar-layout-header .user-menu:hover {
    background: rgb(255 255 255 / 10%);
}


.list-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.list-page-header .page-title-section {
    flex: 1;
}

.list-page-header .page-title {
    margin: 0;
}

.list-page-header .page-title-section {
    flex: 1;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.list-page-table {
    border-radius: 8px;
    box-shadow: var(--elevate-1);
}


.form-page-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 960px;
}

.form-page-header .page-title {
    margin: 0;
}

.form-page-header .page-title-section {
    flex: 1;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form-page-fields-section {
    max-width: 960px;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: var(--elevate-1);
}

.form-page-fields-section-footer {
    max-width: 960px;
}

.form-page-fields-section .form-section-title {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.form-page-footer {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.form-page-footer .page-actions {

    display: flex;
    gap: 1rem;
    align-self: end;
}