.list-page .list-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}



.list-page .list-page-header .page-title-section {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex: 1;
}

.list-page .list-page-header .page-actions {
    display: flex;
    gap: 1rem;
}

.list-page .list-page-header .page-title {
    margin: 0;
}

.list-page .list-page-table {
    border-radius: 8px;
    box-shadow: var(--elevate-1);
}

.list-page .list-page-table .ant-pagination-options {
    margin-inline-end: 1rem;
}

.list-page .filter-form {
    padding: 1rem 0;
}

.list-page .filter-form .search-field {
    width: 20rem;
}

.list-page .list-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}

.list-preview-image {
    max-width: 100%;
    max-height: 60vh;
}
