.list-page .list-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.list-page .list-page-header .page-title-section {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex: 1;
}

.list-page .list-page-header .page-actions {
    display: flex;
    gap: 1rem;
}

.list-page .list-page-header .page-title {
    margin: 0;
}

.list-page .list-page-table {
    border-radius: 8px;
    border: 1px solid var(--ant-color-border)
}

.list-page .list-page-table .ant-pagination-options {
    margin-inline-end: 1rem;
}

.list-page .filter-form {
    display: flex;
    gap: 1rem;
}

.list-page .filter-form > * {
    width: 20rem;
}

.list-page .list-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding-bottom: 1rem;
}

.list-preview-image {
    max-width: 100%;
    border: 1px solid black;
}
